* {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

body {
    padding: 8px 16px 8px 16px;
}

h1, h2, h3 {
    padding: 0px 12px 0px 12px;
    margin: 8px 0px 8px 0px;
}

h1 {
    font-size: x-large;
}

h2 {
    font-size: large;
    background-color: #ffeeaa;
}

h3 {
    font-size: medium;
}

ul {
    margin-left: 20px;
}

ul.maplist li {
    list-style-type: none;
	display: inline;
}


img.maplist_thumbnail {
	width: 240px;
	height: 160px;
}

dl {
    margin-left: 20px;
}
dl dt {

}
dl dd {
    margin-left: 20px;
	font-size: smaller;
}

img {
    border-style: none;
}


pre.prettyprint {
    overflow: scroll;

    width: 600px;
    height: 200px;
    font-size: small;
}


div.header {
    padding: 0px 0px 8px 0px;
    margin: 0px 0px 0px 0px;
}

div.main {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

div.footer {
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #eeeeee;

    padding: 4px 0px 0px 0px;
    margin: 16px 0px 0px 0px;

    color: #aaaaaa;
    text-align: right;
    font-style: italic;
}

/* EOF */
