*{
	margin: 0;
	padding: 0;
}

div {
	display: block;
}

#wrapper{
	width: 80%;
	margin: 0 auto;
}

#titlepic{
	width: 231px;
	height: 60px;
	background-image: url(../pics/toplogo.png);
}

#topcontainer{
	float: left;
	background-color: #ffffff;
	width: 100%;
	height: 100px;
}

#lowcon{
	background-color: #eeeeee;
	width: 100%;
	float: right;
	margin-left: -200px;
}

#listcon{
	background-color: #eeeeee;
	width: 200px;
	float: left;
}

#mapcon{
	background-color: #dddddd;
	position: relative;
	margin: 0 0 0 200px;
}

img.maplist_thumbnail {
	width: 600px;
	height: 400px;
	margin: 0 auto;
}

#tagtitle{
	margin: 20px 20px 20px 0;
}

#tags{
	color: #111111;
	font-size: 80%;
}

#footer{
	width: 100%;
	float: left;
}